<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budżet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        document.onkeydown = checkKey;

function checkKey(e) {

    e = e || window.event;

    if (e.keyCode == '37') {
       window.location.href = '/{{ prev_date }}';
    }
    else if (e.keyCode == '39') {
       window.location.href = '/{{ next_date }}';
    }

}
    </script>
</head>
<body>
<div id="main">
    {% if error %}
    <h2>{{ error }}</h2>
    {% endif %}
    <div id="main_content">
        <div id="today">
            <h1>{{ date_formatted }}</h1>

            <table class="budget_table">
                <tbody>
                    <tr class="header bold">
                        <td colspan="3">Wydatki</td>
                    </tr>
                    <tr>
                        <form method=post action="/add_expense">
                            <td>
                                <input type="hidden" name="date_string" value="{{ date_string }}">
                                <div class="td_input">
                                    <input type="text" list="categories" name="name" placeholder="Kategoria"/>
                                    <datalist id="categories">
                                    {% for category in categories %}
                                        <option>{{ category['name'] }}</option>
                                    {% endfor %}
                                    </datalist>
                                </div>
                            </td>
                            <td><div class="td_input"><input name="value" placeholder="Wartość"></div></td>
                            <td class="button-row">
                                <button class="button green">Dodaj</button>
                            </td>
                        </form>
                    </tr>
                {% for expense in today_expenses %}
                    <tr>
                        <td>{{ expense['name'] }}</td>
                        <td>{{ expense['value'] }} zł</td>
                        <td class="button-row">
                            <form method=post action="/delete_expense/{{ expense['_id'] }}">
                                <input type="hidden" name="date_string" value="{{ date_string }}">
                                <button class="button red">Usuń</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                    <tr class="header bold">
                        <td colspan="3">Przychody</td>
                    </tr>
                    <tr>
                        <form method=post action="/add_expense">
                            <td>
                                <input type="hidden" name="date_string" value="{{ date_string }}">
                                <input type="text" list="categories" name="name" placeholder="Kategoria"/>
                                <datalist id="categories">
                                    {% for category in categories %}
                                    <option>{{ category['name'] }}</option>
                                    {% endfor %}
                                </datalist>
                            </td>
                            <td><input name="value" placeholder="Wartość"></td>
                            <td class="button-row">
                                <button class="button green">Dodaj</button>
                            </td>
                        </form>
                    </tr>
                    <tr class="total bold">
                        <td>Cuzamen do kupy:</td>
                        <td>{{ total }} zł</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="main_content">
        <div id="month_summary">
            <h3>Podsumowanie miesiąca</h3>
            <table id="summary_table">
                {% for category in categories_values.keys() %}
                <tr>
                    <td>
                        {{ category }}
                    </td>
                    <td>
                        {{ categories_values[category] }}
                    </td>
                </tr>
                {% endfor %}
                <tr class="total bold">
                    <td>
                        Razem:
                    </td>
                    <td>
                        {{ month_total }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>